<%- include("cabecera") %>
<div id="container">
  <p id="saludo"><strong> |Partida: </strong></p>
  <h5 id="texto2"><em>
  Creada por: <%=partida.creador%><br>
  Jugadores: <%=partida.jugadores%><br>
  Turno de: <%=partida.turnoPara%><br>
  Turnos restantes: <%=partida.turnosRestantes%></em></h5>
<% if(partida.tablero.length > 0) {%>
<p id="saludo"><strong> |Tablero: </strong></p>

  <table width="700" height="700px"; border="0" cellspacing="2" cellpadding="2" bgcolor="#FFFFFF" align="center">
    <% partida.tablero.forEach(function(v,i){ %>

      <% if(i%7 == 0) {%>
      <tr align="center">
      <% } %>

      <td id='<%=i%>' bgcolor="#61380B">
          <%partida.datosCasilla(i,function(err,result){ %>
          <p><%console.log(result.foto)%></p>
          <% }); %>
      </td>

      <% if(i%7 == 6) {%>
      </tr>
      <% } %>

    <% }); %>

  </table>
<% } %>

  <!-- Estatico -->
  <%partida.manos%>
  <p id="saludo"><strong> |Tus cartas: </strong></p>
  <table border="0" cellspacing="2" cellpadding="2" bgcolor="#000000" align="center">
    <tr>
      <td><img src="/images/Bomba.png"></td>
      <td><img src="/images/PicoRoto.png"></td>
      <td><img src="/images/PicoArreglado.png"></td>
      <td><img src="/images/Lupa.png"></td>
      <td><img src="/images/T7.png"></td>
      <td><img src="/images/T12.png"></td>
      <td><img src="/images/T2.png"></td>
    </tr>
  </table>
<!-- Fin -->

  <p id="saludo"><strong> |Comentarios: </strong></p>
  <%if(partida.comentarios.length > 0) { %>
  <div class="comentarios">
  <% partida.comentarios.forEach(function(comentario){ %>
    <div class="comentario">
      <div class="author">
        <p><%=usuario.nick%></p>
      </div>
      <div class="contenido">
    <p><%=comentario.mensaje%></p>
        </div>
      </div>
  <% }); %>
  </div>
    <% } else { %>
  <h5 id="texto2"><em>No hay comentarios</em></h5>
    <% } %>
   <div class="respuesta">
  <form method="POST" action="/nuevoComentario/<%=partida.id%>">
  <textarea name="nuevoComentario" id="nuevoComentario"></textarea>
  <input name="submit" value="Submit" class="submit-button" type="submit">
  </form>
   </div>
</div>
</body>
</html>
