<%- include("cabecera") %>
<div id="container">
  <p id="saludo"><strong> |Unirse a Partida!</strong></p>
  <h5 id="texto2"><em>A continuación se muestra una lista con las partidas abiertas que admiten jugadores.</em></h5>
  <!--<p><%= partidas %></p>-->
  <div id="tablas">
        <table id="bordes">
          <tr>
            <td id="encabe">Nombre</td ><td id="encabe">Fecha</td><td id="encabe">Número de Jugadores</td><td id="encabe">Jugadores Apuntados</td>
          </tr>
          <% partidas.forEach(function (partida){ %>
          <form method="POST" action="/unirsePartida/<%= partida._id %>">
          <tr>
            <td id="cel"><%= partida.nombre %></td><td id="cel"><%= partida.dameFecha() %></td><td id="cel"><%= partida.dameNumJugadores() %></td><td id="cel"><%= partida.jugadores %></td>
            <td id="cel"><td><input name="enviar" type="submit" value="Unirse"/></td>
          </tr>
          </form>
          <%});%>
        </table>
  </div>
  <br><a href="/">Volver a la página de usuario</a>
</div>
</body>
</html>
